.form-group {
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-label.small {
  font-size: 10px;
}

.form-label.medium {
  font-size: 14px;
}

.form-label.large {
  font-size: 20px;
}

.form-control {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #cccccc;
  outline-color: #ff7626;
  padding: 0 20px;
  height: 37px;
}

.form-control.small {
  font-size: 10px;
  padding: 10px;
}

.form-control.medium {
  font-size: 14px;
  padding: 15px 10px;
}

.form-control.large {
  font-size: 20px;
  padding: 25px 10px;
}

.form-error-message {
  color: #af2433;
  font-size: 12px;
  margin-top: 5px;
  display: inline-block;
}
