.btn {
  background: white;
  color: black;
  padding: 5px 20px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  border: 0;
}

.btn[disabled] {
  background: grey;
}

.btn-primary {
  background: dodgerblue;
  color: white;
}

.btn-secondary {
  border: 1px solid dodgerblue;
}
