.btn {
  height: 37px;
  border: 1px solid #cccccc;
  background-color: white;
  color: #ff7626;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}

.btn[disabled] {
  background-color: #cccccc;
  border: 1px solid #cccccc;
  cursor:not-allowed;
}

.btn-primary {
  background-color: #ff7626;
  border: 1px solid #ff7626;
  color: white;
}

.btn-secondary {
  background-color: white;
  border: 1px solid #cccccc;
  color: #ff7626;
}
