.item {
  display: flex;
  width: 95%;
  padding: 10px;
  border: 1px solid gray;
}

.item .artist {
  padding: 9px;
  flex-grow: 1;
  flex-basis: 0px;
}

.item .track {
  padding: 9px;
  flex-grow: 1;
  flex-basis: 0px;
}
